

body {
  font-family: sans-serif;
  min-width: 450px;      /* 2x LC width + RC width */
  background-color: #Fff8dc;
}

#container {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
    padding: 0px 10px;    
}

#header {
    display: table-row;
    text-align: right;

}

#header form {
    float: right;
}

#header a {
    padding: 0px 10px;    
}

.main {
    height: 100%;
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
}

#center {
  width: 100%;
  text-align: left;
  margin: auto;
}
#center h1 {
    text-align: center;
}

#left {
    width: 10%;
}

#right {
  width: 10%;          /* LC width */
}

.sidebar {
    width: 10%;
}

#footer {
  display: table-row;
}

.error {
    color: red;
}

label {
    width: 150px;
    float: left;
}

.summary {
    background-color: #B22222;
    color: #F5f5f5;
}

.title {
    float: left;
    padding: 0px 10px;    
}
.detail {

}

