

body {
  min-width: 450px;      /* 2x LC width + RC width */
}

#container {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
}

#header {
    display: table-row;
    text-align: right;

}

#header form {
    float: right;
    padding: 0px 10px;    
}

#header a {

    padding: 0px 10px;    
}



.main {
    height: 100%;
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
}

#center {
  width: 100%;
  text-align: center;
  margin: auto;
}

#left {
    width: 150px;
}

#right {
  width: 150px;          /* LC width */
}

#footer {
  display: table-row;
}

.error {
    color: red;
}

label {
    width: 150px;
    float: left;
}